/* Estilos para el componente de fotos */

h2 {
    font-size: 24px;
    color: #333;
  }
  
  .fotos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .foto-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .foto-item img {
    width: 100%; 
    height: auto; 
    max-height: 250px; 
    border: 3px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
  }
  
  