<!-- app.component.html -->
<header>
  <!-- Encabezado de tu aplicación si lo tienes -->
  <!-- ... -->
  <!-- Enlaces de navegación -->
  <nav>
      <a routerLink="/arboles">Ver Árboles</a>
      <a routerLink="/mapa">Ver Mapa</a>
      <a routerLink="/fotos">Ver Fotos</a>
      <a routerLink="/comentarios">Enviar Comentarios</a>
      
  </nav>
  
</header>


<!-- Contenido principal de tu aplicación -->
<main>
  <!-- Aquí se mostrará el contenido de los componentes según la navegación -->
  <router-outlet></router-outlet>
</main>

<!-- Otros elementos de tu aplicación -->
<!-- ... -->
